
# Author: Phani Vadrevu <pvadrevu@uga.edu>

# Postgres DB Info
db_host = "localhost"
db_name = ""
db_user = ""
db_password = ""

# VirusTotal API Keys, as a list of Python Strings eg: ["abcd", "efgh"]
# Get your VT API key at: https://www.virustotal.com/en/
vt_keys = []

# "live", "manual" or None
# If vt_submission = "manual", fill the manual_download_ip variable in
# pe_dump/config.py
vt_submissions = "live"

trusted_av_vendors = ["Avast", "AVG", "F-Secure", "Kaspersky", "McAfee",
                    "Microsoft", "Sophos", "Symantec", "TrendMicro"]

# Manual downloads are only enabled if vt_submissions = "manual"
# Every time a download is detected using the URL from which the executable has
# been downloaded, a new HTTP request is created and the file is refetched from
# the same webserver. We refer to this as a manual download. Please specify the
# directory where these manual downloads should be saved
MAN_DOWNLOAD_DIR = "manual_downloads"

# When running AMICO under a SOCKS proxy, use these.
# Else, have socks_proxy_host as "None"
#socks_proxy_host = "localhost"
socks_proxy_host = None
socks_proxy_port = 12345

# When running AMICO behind a HTTP proxy, use the following,
# else leave https_proxy_host as "None"
# All HTTPS queries to VirusTotal will be directed through this proxy
#https_proxy_host = "localhost"
https_proxy_host = None
https_proxy_port = 8888


# The threshold value for classification between (0,1)
# used in db_syslog.py script
amico_threshold = 0.4

# The name of the training model file to be used for
# classification. Use the trainer.py script to create 
# a new model specific to your network
model_file = "models/default.model"

whitelist_domains = [
            "windowsupdate.com",
            "avg.com",
            "microsoft.com",
            "adobe.com",
            "apple.com",
            "google.com",
            "se.360.cn"]
